[submodule "difftest"]
	path = difftest
	url = git@github.com:arch-simulator-sig/difftest.git
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://gitee.com/dzw1208/DRAMsim3
[submodule "lib/rvdecoderdb"]
	path = rvdecoderdb
	url = git@github.com:sequencer/rvdecoderdb.git
[submodule "nemu"]
	path = nemu
	url = git@github.com:arch-simulator-sig/NEMU.git
